  <div class="sidebar" data-color="blue" style="background-image: url('../assets/img/sidebar-1.png');">
    <div class="sidebar-wrapper">
      <a href="https://www.artolin.org/"><img class="logo-sidebar" src="../assets/img/artolin.png" alt="Artolin"></a>
      <ul class="nav" style="background-color: rgba(0,0,0,0.12);">
        <li id="dashboard" class="active">
          <a onClick="displayWallet();">
            <i class="material-icons">dashboard</i>
            <p>My Portfolio</p>
          </a>
        </li>
        <li id="gallery">
          <a onClick="displayGallery();">
            <i class="material-icons">camera_enhance</i>
            <p>Market Place</p>
          </a>
        </li>
        <li id="order">
          <a onClick="displayOrderForm();">
            <i class="material-icons">assignment</i>
            <p>Place Order</p>
          </a>
        </li>
        <li id="transaction">
          <a onClick="displaySendForm();">
            <i class="material-icons">compare_arrows</i>
            <p>Send</p>
          </a>
        </li>
        <li id="myorder">
          <a onClick="displayOpenOrderForm();">
            <i class="material-icons">assignment</i>
            <p>My Open Orders</p>
          </a>
        </li>
        <li id="history">
          <a onClick="displayHistory();">
            <i class="material-icons">format_list_bulleted</i>
            <p>History</p>
          </a>
        </li>
        <li id="wallet">
          <a onClick="displayWalletInfo();">
            <i class="material-icons">info</i>
            <p>Wallet Info</p>
          </a>
        </li>
        <li class="visible-xs visible-sm">
          <a href="#" onClick="qrAddress();" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-qrcode fa-lg" style="color:white; margin-left:6px;"></i>
            <span style="color:black; margin-left:16px;">Receive</span>
          </a>
        </li>
        <li class="visible-xs visible-sm">
          <a href="#" onClick="listassets();" class="dropdown-toggle" data-toggle="dropdown">
            <i class="material-icons">attach_money</i>
            <p>My Balance<p>
          </a>
        </li>
        <li class="visible-xs visible-sm">
          <a href="#" onClick="localStorage.clear(); window.location.reload(true);" class="dropdown-toggle" data-toggle="dropdown">
            <i class="material-icons">person</i>
            <span style="color:black;">Log out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-brand" id="myAddress"></p>
          <button type="button" class="navbar-toggle hamburguer" data-toggle="collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" onClick="qrAddress();" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-qrcode"></i>
                Receive
              </a>
            </li>
            <li>
              <a href="#" onClick="listassets();" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">attach_money</i>
                My Balance
              </a>
            </li>
            <li>
              <a href="#" onClick="localStorage.clear(); window.location.reload(true);" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">person</i>
                Log out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
    </div>
  </div>
